flask
pdfplumber
pandas
openpyxl
python-docx
werkzeug
pytesseract
pdf2image
Pillow
fpdf2
gunicorn
python-dotenv
openai
pydantic
psycopg2-binary
azure-ai-documentintelligence==1.0.0b4
azure-core
flask-login
requests
